// Colors

$primary-background-color: #322222;
$primary-link-color: #D55C17;
$seconday-background-color: #1C0F08;
$secondary-text-color: #C08D72;
$secondary-link-color: #ffffff;

// Font Families

$primary-font : Verdana, sans-serif;
$secondary-font : 'Goudy Bookletter 1911', Georgia, serif;
$navigation-font : 'Raleway', sans-serif;

// Font Sizing

$primary-font-size: 14px;
