// Colors

$primary-background-color: #322222;
$primary-link-color: #D55C17;
$secondary-background-color: #1C0F08;
$secondary-text-color: #604C40;
$secondary-link-color: #ffffff;

// Font Families

$primary-font : Verdana, sans-serif;
$secondary-font : 'Goudy Bookletter 1911', Georgia, serif;
$tertiary-font : 'Raleway', sans-serif;