// Colors

$background-color: #322222;
$link-color: #D55C17;
$outer-background: #1C0F08;
$outer-text-color: #C08D72;
$outer-link-color: #ffffff;
$footer-color: #604C40;

// Font Families

$primary-font : Verdana, sans-serif;
$secondary-font : 'Goudy Bookletter 1911', Georgia, serif;
$navigation-font : 'Raleway', sans-serif;

// Font Sizing

$primary-font-size: 14px;
