.site-branding {
	float: left;
	max-width: 75%;
}
.primary-navigation {
	font-size: 17px;
	font-family: $tertiary-font;
}
.primary-navigation ul {
	display: none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	list-style: none;
	margin: 0;
	padding:0;
}
.primary-navigation .nav-menu {
	padding-top: 20px;
}
.primary-navigation li {
	position: relative;
}
.primary-navigation a {
	padding: 12px 10px;
	display: block;
	text-decoration: none;
	color: $secondary-link-color;
	border-top: 1px solid $secondary-text-color;
}
.primary-navigation a:hover,
.primary-navigation li:hover a {
}
.primary-navigation .menu-item-has-children > a {
	padding-right:30px;
}
.primary-navigation ul ul a:hover {
}
.menu-container {
	clear: both;
}
.dropdown-toggle {
	display: inline-block;
	position: absolute;
	right:8px;
	top:8px;
	height:36px;
	width:36px;
	cursor: pointer;
}
.dropdown-toggle:after {
	font-family: 'zelda-icons';
	font-size:14px;
	line-height: 1;
	content: '\f0d7';
	position: absolute;
	right: 50%;
	margin-right:-4px;
	top:50%;
	margin-top:-7px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
	transition: transform .2s ease-in-out;
	color: #fff;
}
.primary-navigation ul ul {
	border-top: none;
}
.primary-navigation ul ul a {
	padding-left:40px;
}

/* Mobile Toggle
-------------------------------------------------------------- */

.menu-toggle {
	background:none;
	line-height: 1;
	cursor: pointer;
	float: right;
	padding: 12px 10px 12px 0;
	color: #fff;
	font-weight: 600;
}
.menu-toggle:hover {
	background:none;
}
.menu-toggle:before {
    font-family: 'zelda-icons';
    content: '\f0c9';
    speak: none;
    display: inline-block;
    margin-right: 10px;
}
.menu-toggle:focus {
	box-shadow: none;
	border:none;
}

/* Small Screen Sizes */
@media screen and ( max-width: 1039px ) {
	.dropdown-toggle.toggled:after {
		transform: rotate(180deg);
	}
}

/* Large Screen Sizes */
@media screen and ( min-width: 1040px ) {
	.site-branding {
		max-width: 50%;
	}
	.primary-navigation {
		clear:none;
		max-width: 50%;
		float:right;
		margin-top: 6px;
		font-weight: 800;
		letter-spacing: -.01em;
		font-size:17px;
		text-transform: uppercase;
	}
	.site-description-active .primary-navigation {
	}
	.primary-navigation .nav-menu {
		padding-top: 0;
	}
	.menu-toggle {
		display: none;
	}
	.dropdown-toggle {
		display: none;
	}
	.primary-navigation ul {
		border: none;
		display: block;
	}
	.primary-navigation li {
		display: inline-block;
	}
	.primary-navigation a {
		display: inline-block;
		border: none;
		border-left: 1px solid $secondary-text-color;
		padding: 10px 16px;
	}
	.primary-navigation a:hover {
		color: $secondary-text-color;
	}
	.primary-navigation .menu-item-has-children > a {
		padding: 10px 16px;
	}
	.primary-navigation ul ul {
		display: none;
		background: $primary-background-color;
		position: absolute;
		width:220px;
		left: 50%;
		margin-left: -110px;
		top:45px;
		z-index: 99999;
		border: 1px solid $secondary-background-color;
		border-radius: 3px;
		font-size: 16px;
		text-align: center;
		font-weight: 400;
		text-transform: none;
	}
	.primary-navigation ul ul a:hover {
		color: $secondary-link-color;
	}
	.primary-navigation ul ul:before {
		position: absolute;
		top: -8px;
		left: 50%;
		margin-left: -8px;
		border-left: 8px solid rgba(0, 0, 0, 0);
		border-right: 8px solid rgba(0, 0, 0, 0);
		border-bottom: 8px solid $primary-background-color;
		content: "";
	}
	.primary-navigation ul li:hover > ul {
		display: block;
	}
	.primary-navigation ul ul li {
		display: block;
		margin:0;
	}
	.primary-navigation ul ul a {
		border: none;
		border-bottom: 1px solid $secondary-background-color;
	}
	.primary-navigation ul ul a,
	.primary-navigation ul li:hover ul a {
		display: block;
		padding:12px 20px;
	}
	.primary-navigation ul ul a:hover {
		background: $secondary-background-color;
	}
	.primary-navigation ul ul li:last-child a {
		border-bottom: none;
	}
	.primary-navigation ul ul ul {
		margin: 0;
		left:220px;
		top:-1px;
	}
	.primary-navigation ul ul ul:before {
		display: none;
	}

	/* Social */
	.primary-navigation .social > a {
		display: inline-block;
	}
	.primary-navigation .social span {
		margin: 0;
		clip: rect(1px, 1px, 1px, 1px);
		position: absolute !important;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}
	.primary-navigation .social a:before {
		display: inline-block;
		font-family: 'zelda-icons';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.primary-navigation .social a[href*="behance.com"]:before {
		content: '\f1b4';
	}
	.primary-navigation .social a[href*="dribbble.com"]:before {
		content: '\f17d';
	}
	.primary-navigation .social a[href*="facebook.com"]:before {
		content: '\f09a';
	}
	.primary-navigation .social a[href*="flickr.com"]:before {
		content: '\f16e';
	}
	.primary-navigation .social a[href*="github.com"]:before {
		content: '\f09b';
	}
	.primary-navigation .social a[href*="linkedin.com"]:before {
		content: '\f0e1';
	}
	.primary-navigation .social a[href*="pinterest.com"]:before {
		content: '\f0d2';
	}
	.primary-navigation .social a[href*="plus.google.com"]:before {
		content: '\f0d5';
	}
	.primary-navigation .social a[href*="instagr.am"]:before,
	.primary-navigation .social a[href*="instagram.com"]:before {
		content: '\f16d';
	}
	.primary-navigation .social a[href*="skype.com"]:before {
		content: '\f17e';
	}
	.primary-navigation .social a[href*="spotify.com"]:before {
		content: '\f1bc';
	}
	.primary-navigation .social a[href*="tumblr.com"]:before {
		content: '\f173';
	}
	.primary-navigation .social a[href*="twitter.com"]:before {
		content: '\f099';
	}
	.primary-navigation .social a[href*="vimeo.com"]:before {
		content: '\f194';
	}

}
